<h1>Incoming Details</h1>
<table>
    <ul>
        <li>Document Number: {{incoming.document_number}}</li>
        <li>Date Received: {{incoming.date_received}}</li>
        <li>Document Type: {{incoming.document_type}}</li>
        <li>File number: {{incoming.file_number}}</li>
        <li>Received From: {{incoming.received_from}}</li>
        <li>Subject: {{incoming.subject}}</li>
        <li>Description: {{incoming.description}}</li>
        <li>Marked to: {{incoming.marked_to}}</li>
        <li>Status: {{incoming.status}}</li>
        <li>Url: {{incoming.url}}</li>
    </ul>
</table>