<h1>outgoing Details</h1>
<table>
    <ul>
        <li>Document Number: {{outgoing.document_number}}</li>
        <li>Date Received: {{outgoing.date_received}}</li>
        <li>Document Type: {{outgoing.document_type}}</li>
        <li>File number: {{outgoing.file_number}}</li>
        <li>Received From: {{outgoing.received_from}}</li>
        <li>Subject: {{outgoing.subject}}</li>
        <li>Description: {{outgoing.description}}</li>
        <li>Marked to: {{outgoing.marked_to}}</li>
        <li>Status: {{outgoing.status}}</li>
        <li>Url: {{outgoing.url}}</li>
    </ul>
</table>